<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/general.css}">

</head>
<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="container pt-3">
    <h3 class="display-3"><b>Adresy</b> admin view</h3>
    <div class="pt-5">
        <!-- Table -->
        <div class="tableFixHead">
            <table cellpadding = "10" class="table fullTable table-hover">
                <!-- Table header -->
                <thead class="thead-dark">
                <tr> <!-- Table row -->
                    <th>ID</th>
                    <th>Ulica</th>
                    <th>Numer domu</th>
                    <th>Numer lokalu</th>
                    <th>Miasto</th>
                    <th>Kod pocztowy</th>
                    <th colspan=2 style="width: 10%;">Actions</th>
                </tr>
                </thead>
                <!-- Table body -->

                <tbody>
                <tr th:each = "adres: ${listAdresy}">
                    <td th:text = "${adres.adres_id}">ID</td>
                    <td th:text = "${adres.ulica}">Ulica</td>
                    <td th:text = "${adres.numer_domu}">Numer domu</td>
                    <td th:text = "${adres.numer_lokalu}">Rok powstania</td>
                    <td th:text = "${adres.miasto}">Miasto</td>
                    <td th:text = "${adres.kod_pocztowy}">Kod pocztowy</td>
                    <td><a class="btn btn-secondary" th:href="@{'/admin/adresy/'+ ${adres.adres_id} + '/update'}">Update</a></td>
                    <td><a class="btn btn-danger" th:href="@{'/admin/adresy/' + ${adres.adres_id} + '/delete'}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row justify-content-end">
            <div class="col-1"><a class="btn btn-success" th:href="@{/admin/adresy/create}">Add</a></div>
        </div>
    </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<script>
    // set proper dropdown menu item as 'active'
    $("#adresyAdmin").addClass("active");
</script>

</body>
</html>