<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/general.css}">


    <title>Title</title>
</head>
<body>
    <nav th:replace="fragments/general.html :: navbar"></nav>

    <div class="container pt-3">
        <h4 class="display-4">Add new blok</h4>
        <br>

        <form action="#" th:action="@{/admin/bloki/create}" th:object="${blok}" method="post">
            <!-- Table -->
            <div class="tableFixHead">
            <table cellpadding = "10" class="table fullTable table-hover">
                <!-- Table header -->
                <thead class="thead-dark">
                <tr> <!-- Table row -->
                    <th>Attribute</th>
                    <th>Input</th>
                </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                <tr>
                    <th>Liczba pięter</th>
                    <td><input type="number" min="1" max="300" th:field="*{liczba_pieter}"></td>
                </tr>
                <tr>
                    <th>Liczba lokali</th>
                    <td><input type="number" min="1" max="1000" th:field="*{liczba_lokali}"></td>
                </tr>
                <tr>
                    <th>Rok powstania</th>
                    <td><input type="number" min="1900" max="2099" th:field="*{rok_powstania}"></td>
                </tr>
                <tr>
                    <th>Winda</th>
                    <td><input type="number" min="0" max="99" th:field="*{winda}"></td>
                </tr>
                <tr>
                    <th>Liczba klatek</th>
                    <td><input type="number" min="1" max="100" th:field="*{liczba_klatek}"></td>
                </tr>

                <tr>
                    <th>Adresy ID</th>
                    <td><input type="number" min="1" max="999999" th:field="*{adres_id}"></td>
                </tr>


                </tbody>
            </table>
                <div class="d-flex justify-content-between"  style="padding-top:10px">
                    <div><a id="add" class="btn btn-outline-dark" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        Add</a></div>

                    <div><a id="cancel" class="btn btn-outline-dark" th:href="@{/admin/bloki}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        Cancel</a></div>

                </div>
            </div>
        </form>
    </div>



    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>


</body>
</html>