<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/general.css}">

<style>
    body {
        background-color: #FFF4E9;
    }
</style>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Navigation -->
<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">Welcome [[${#httpServletRequest.getRemoteUser()}]]<a
                            style="color:lightskyblue; text-transform:capitalize"><b>[[${#httpServletRequest.getRemoteUser()}]]</b></a>
                        to the main page!</label>
                    <div style="font-size:20px">If you want to logout, click "Logout" button under this text.</div>
                </div>

                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container justify-content-center">
    <div class="row justify-content-center" style="padding: 30px">
        <a class="btn btn-outline-dark " id="admin_btn1"    th:href="@{/admin/adresy}">
            ADRESY
        </a>
    </div>
    <div class="row justify-content-center" style="padding:30px">
        <a class="btn btn-outline-dark" id="admin_btn2" th:href="@{/admin/bloki}">BLOKI
        </a>
    </div>
</div>






<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>