<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Main Admin Page</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/css/general.css}">

</head>
<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="container pt-3">
  <h3 class="display-3"><b>Rachunki - czynsze</b> user view</h3>
  <div class="pt-5">
    <!-- Table -->
    <div class="tableFixHead">
      <table cellpadding = "10" class="table fullTable table-hover">
        <!-- Table header -->
        <thead class="thead-dark">
        <tr> <!-- Table row -->
          <th>Numer lokalu</th>
          <th>Data wystawienia rachunku</th>
          <th>Wysokość czynszu [zł]</th>
          <th>Opłaty dodatkowe [zł]</th>
          <th>Kwota do zapłaty [zł]</th>
          <th>Za okres od</th>
          <th>Za okres do</th>
          <th>Opłacony?</th>
          <th colspan=1 style="width: 5%;">Actions</th>
        </tr>
        </thead>
        <!-- Table body -->

        <tbody>
        <tr th:each = "rachunek: ${listRachunkiCzynsze}">
          <td th:text = "${rachunek.numer_lokalu}">Numer lokalu</td>
          <td th:text = "${rachunek.data_wystawienia_rachunku}">Data wystawienia rachunku</td>
          <td th:text = "${rachunek.wysokosc_czynszu}">Wysokość czynszu [zł]</td>
          <td th:text = "${rachunek.oplaty_dodatkowe}">Opłaty dodatkowe [zł]</td>
          <td th:text = "${rachunek.kwota_do_zaplaty}">Kwota do zapłaty [zł]</td>
          <td th:text = "${rachunek.za_okres_od}">Za okres od</td>
          <td th:text = "${rachunek.za_okres_do}">Za okres do</td>
          <td th:text = "${rachunek.czy_oplacony}">Opłacony?</td>
          <td>
            <span th:if="${rachunek.czy_oplacony == 'N'}">
                <a class="btn btn-outline-danger" id="payment" th:href="@{'/user/rachunki/czynsze/' + ${rachunek.oplaty_id} + '/pay'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                    </svg>
                    Payment
                </a>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<script>
    // set proper dropdown menu item as 'active'
    $("#czynszeUser").addClass("active");
    $("#userDropdownMenu").addClass("active");
</script>

</body>
</html>