<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
  <meta charset="UTF-8" />
  <link th:rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<div th:fragment="navbar">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFDAB9;">
    <div class="container-fluid" >
      <a class="navbar-brand" href="/">Nazwa spoldzielni
        <img  id="brand-image" alt="Website Logo" src="https://cdn.myclarionhousing.com/-/jssmedia/clarion-housing-association/images/logos/clarion-housing-brand-logo-colour.ashx?rev=49b22dbc691142b4be39c71b90069f28&extension=webp&w=200&h=auto&mw=200" height="50"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="gap: 10px;">

          <div sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" th:inline="text">You are logged in as <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
          </li>
          </div>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/index}">Home</a>
          </li>

          <div sec:authorize="hasRole('ADMIN')">
          <li class="nav-item dropdown" id="adminDropdownMenuItem">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Admin views
            </a>
            <div id="adminDropdown" class="dropdown-menu">
              <a id="blokiAdmin" class="dropdown-item" th:href="@{/admin/bloki}">Bloki</a>
              <a id="adresyAdmin" class="dropdown-item" th:href="@{/admin/adresy}">Adresy</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
          </div>


          <!-- Logout button (visible only if user/admin is logged in) -->
          <div sec:authorize="isAuthenticated()">
            <li class = "nav-item" style="align: left">
              <form method="post" th:action="@{/index}" style="align:center; margin-left:25px">
                <button class="btn btn-outline-danger" type="submit" onclick="successfullyLogout()" value="Sign Out">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                    <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                    <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                  </svg>
                  Logout
                </button>
              </form>

            </li>
          </div>

          <!-- Login button (visible only if user/admin is not logged in yet) -->
          <div sec:authorize="!isAuthenticated()">
            <li class = "nav-item" style="align: left">
              <form method="get" th:action="@{/login}" style="align:center; margin-left:25px">
                <button class="btn btn-outline-success" type="submit">
                  Login
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                  </svg>
                </button>
              </form>
            </li>
          </div>

        </ul>
      </div>
    </div>
  </nav>
</div>

<div th:fragment="message">
  <div class="alert alert-danger" th:text="${message}">
  </div>
</div>

<div th:fragment="footer">
<footer class="row">
  <div id="footer" class="container-fluid text-center p-4" style="margin-top: 10px; margin-right:0px; background-color: #FFDAB9; color:#2E6173">
    <div class="row" style="margin-top:20px">

      <div class="col">
        <p><i class="fa fa-home" aria-hidden="true"></i> New York, NY 10012, US</p>
      </div>

      <div class="col">
        <p><i class="fa fa-envelope" aria-hidden="true"></i> spoldzielnia@buziaczek.pl</p>
      </div>

      <div class="col">
        <p><i class="fa fa-phone" aria-hidden="true"></i> +48 122233440</p>
      </div>

      <div class="col">
        <p><i class="fa fa-print" aria-hidden="true"></i>  +48 22 111 09 00</p>
      </div>


    </div>
    <!--            <div class="col" style="align:center">
                    <div class="map-responsive" style="margin-top:10px; margin-bottom: 10px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2378.7176787732724!2d-2.989061684209467!3d53.40198997999069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x78d32cdae7759959!2zNTPCsDI0JzA3LjIiTiAywrA1OScxMi43Ilc!5e0!3m2!1spl!2spl!4v1653825815856!5m2!1spl!2spl" width="100%" height="90%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>-->

  </div>

  <div class=" md:mb-0 container-fluid text-center p-3" style="background-color: #F2CFB0">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
</div>

</body>
</html>