table.fullTable {
    width: 100%;
}

.btn-outline-danger {
    text-align: center;
    align: center;
    border-radius: 5px;
    background-color:transparent;
    border-color:transparent;
    border-width: 1px;
    height: 80%;
    margin-right:0px
}

.btn-outline-danger:hover {
    background-color:#ED617D;
    border-width: 1px;
    color: white;
    border-color:#ED617D
}

.btn-outline-success {
    text-align: center;
    align: center;
    border-radius: 5px;
    background-color:transparent;
    border-color:transparent;
    border-width: 1px;
    height: 80%;
    margin-right:0px
}

.btn-outline-success:hover {
    background-color:#77dd77;
    border-width: 1px;
    color: white;
    border-color:#77dd77
}


.tableFixHead {
    overflow-y: auto;
    height: 500px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    border-top: solid 0 black;
}