.info {
    text-align: center;
    align: center;
    border-radius: 5px;
    backround-color:#FFDAB9;
    border-color:#2E6173;
    border-width: 3px;
    height: 150px;
    width: 280px;
    margin-right:0px
}

.info:hover {
    background-color-color:#ED617D;
    border-width: 3px;
}