.btn-outline-danger {
    text-align: center;
    align: center;
    border-radius: 5px;
    backround-color:#FFDAB9;
    border-color:#FFDAB9;
    border-width: 1px;
    height: 80%;
    margin-right:0px
}

.btn-outline-danger:hover {
    background-color:#ED617D;
    border-width: 1px;
    color: white;
    border-color:#ED617D
}

body {
    background-color: #FFF8F2;
}